*, *::before, *::after {
  box-sizing: border-box;
}

$base-color: #ffaac4;
$monospace-font: 'JetBrains Mono';

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/fonts/JetBrainsMonoNerdFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/fonts/JetBrainsMonoNerdFont-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
	font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1821;
  color: white;
  font-family: $monospace-font;
  font-size: 20px;
  text-align: center;
  margin: 0;

  &::before {
    content: '';
    position: fixed;
    inset: 0;
    border: 3px solid $base-color;
    pointer-events: none;
    z-index: 9999;
  }
}

pre, code {
  font-family: $monospace-font;
}

a {
  color: unset;
  text-decoration: none;
}

.section-top {
  height: 720px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  overflow: hidden;

  @keyframes text-scroll {
    0%   { transform: translateY(980px); }
    100% { transform: translateY(-980px) translateX(10vw); }
  }

  .background-text {
    position: fixed;
    top: 0;
    font-size: 15px;
    text-align: left;
    opacity: 0.2;
    filter: blur(1px);
    height: fit-content;
    overflow: hidden;
    pointer-events: none;
    animation: text-scroll 40s linear infinite;

    &.clone {
      animation-delay: -20s;
    }
  }

  .background-earth {
    mix-blend-mode: lighten;
    position: fixed;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    filter: blur(2px);
    pointer-events: none;

    @keyframes spin {
      from { transform: rotate(0deg); }
      to   { transform: rotate(360deg); }
    }

    img {
      position: absolute;
      height: 150vh;
      right: -800px;
      top: -100px;
      animation: spin 240s linear infinite;
    }
  }

  .foreground {
    position: fixed;
    top: 0;
    pointer-events: none;

    img {
      max-width: 600px;
      filter:
        hue-rotate(316deg)
        brightness(1.4)
        contrast(0.85)
        drop-shadow(0 0 5px black);
    }
  }

  .profile-image {
    margin: 20px auto;
    outline: 5px solid white;
    outline-offset: 5px;
    border-radius: 200px;
    filter: drop-shadow(0 0 8mm rgba(white, 0.4));
    transition:
      outline 0.3s ease-out,
      filter 0.3s ease-out,
      border-radius 0.2s;
    width: fit-content;
    height: fit-content;
    overflow: hidden;

    &:hover {
      outline: 8px solid $base-color;
      border-radius: 0;
      filter: drop-shadow(0 0 8mm rgba($base-color, 0.6));
      cursor: pointer;
    }

    img {
      display: block;
      width: 350px;
      transform: scale(1.1);
      filter: saturate(1);
      transition:
        width 0.2s ease-out,
        transform 0.2s ease-out,
        filter 0.2s ease-in;

      &:hover {
        width: 400px;
        transform: scale(1.0);
        filter: saturate(1.2) brightness(1.2);
      }
    }
  }

  .name-section {
    text-align: center;
    font-family: $monospace-font;
    display: flex;
    justify-content: center;
    gap: 10px;

    .name {
      fill: white;
      stroke: none;
      stroke-width: 0;
      filter: drop-shadow(0 0 8mm rgba(white, 0.4));
      transition: 0.2s ease-in;

      &:hover {
        fill: #ff205a;
        stroke: white;
        stroke-width: 4px;
        filter: drop-shadow(0 0 8mm rgba(white, 0.6));
        cursor: pointer;
      }
    }

    .name-surround {
      flex: 1;
      color: #ffffffa0;
      opacity: 0;
      transform: translateY(-20px);
      transition: 0.5s ease;
    }
    .left {
      position: relative;
      top: 30px;
      text-align: right;
      align-self: start;
      transform: rotate(-2deg) translateY(20px);
    }
    .right {
      position: relative;
      bottom: -10px;
      text-align: left;
      align-self: end;
      transform: rotate(2deg) translateY(-20px);
    }

    &:hover .left {
      transform: rotate(-5deg) translateY(0);
      opacity: 1;
    }
    &:hover .right {
      transform: rotate(5deg) translateY(0);
      opacity: 1;
    }
  }

  .subtitle {
    color: $base-color;
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 40px;
    justify-content: center;
    margin: 30px;

    position: relative;

    .name-background {
      position: absolute;
      top: -60px;
      pointer-events: none;
      transform: rotate(5deg);

      img {
        width: 400px;
        filter: brightness(0.8) sepia(1) hue-rotate(124deg) saturate(3) drop-shadow(0 0 5px #31aab7);
        opacity: 0.2;
      }
    }

    .link {
      filter: drop-shadow(10px 10px 2px rgba(black, 0.8));
      transform: translate(0, 0);
      color: white;
      transition: 0.2s ease;

      &:hover {
        filter: drop-shadow(5px 5px 1px rgba(black, 0.8));
        transform: translate(5px, 5px);
        color: $base-color;
        cursor: pointer;
      }
    }
  }

  .scroll-notice a {
    display: block;
    color: #716757;
    filter: drop-shadow(0 0 5px black);
    opacity: 0.5;
    transform: translateY(0);
    transition:
      opacity 0.2s ease-in,
      transform 2s cubic-bezier(0, 0.9, 0.3, 1);

    &:hover {
      color: #dbaf6d;
      opacity: 1;
      transform: translateY(10px);
    }
  }
}

.hover-swap {
  position: relative;
  isolation: isolate;

  .show-by-default {
    opacity: 1;
    transition: 0.3s ease-in-out;
  }
  .show-on-hover {
    opacity: 0;
    transition: 0.3s ease-in-out;
    position: absolute;
    inset: 0;
    mix-blend-mode: plus-lighter;
  }

  &:hover .show-by-default {
    opacity: 0;
  }
  &:hover .show-on-hover {
    opacity: 1;
  }
}
