.siteHeader {
  display: flex;
  flex-direction: row;
  background-color: rgba(black, 0.9);
  height: 60px;
  padding: 20px;
  width: 100%;
  font-size: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 200;

  .left {
    margin-right: auto;
  }
  .right {
    margin-left: auto;
  }

  .sitename {
    text-decoration: underline;
    text-underline-offset: 1px;
    color: white;
    opacity: 0.7;
    transition: 0.2s ease-in;

    &:hover {
      opacity: 1;
    }
  }

  .blog {
  }
}
